<label> Lançamentos Consolidados </label>
<br/>
<table class="table">
    <thead>
        <tr>
            <th scope="col">mes de Lançamento</th>
            <th scope="col">valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let consolidated of listConsolidated;">
            <td>{{consolidated.mes}}</td>
            <td>{{consolidated.valor | currency:'R$':'symbol':'1.2-2':'pt'}}</td>
        </tr>
    </tbody>
</table>

<br/>

<label> Todos Lançamentos </label>
<br/>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Valor</th>
            <th scope="col">Origem</th>
            <th scope="col">Categoria</th>
            <th scope="col">Mês Lançamento</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let release of listReleases;">
            <td>{{release.valor | currency:'R$':'symbol':'1.2-2':'pt'}}</td>
            <td>{{release.origem}}</td>
            <td>{{getCategory(release.categoria)}}</td>
            <td>{{getMonth(release.mes_lancamento)}}</td>
        </tr>
    </tbody>
</table>